@charset "utf-8";
/* 你自己的样式 */
*{
	padding: 0;
	margin: 0;
}

.text-c td img{
	width: 100px;
	height: 100px;
}

.td-manage a{
	font-size: 20px;
}
.filebt{
	position:relative;
	display:inline-block;
	margin-top:10px;
	width: 70px;
	height: 30px;
	line-height:30px;
	border-radius:3px;
	text-align:center;
	background: #3bb4f2;
	color:#FFFFFF;
	cursor: pointer;
}

.filebt:HOVER{
	background: #00A2D4;
}

.filebt input[type=file]{
	cursor:pointer;
	z-index:-1;
	width:70px;
	height:30px;
	left:0;
	opacity: 0;
}

.main{
	width: 1300px;
	padding: 20px;
}

.container{
	width: 100%;
	overflow: hidden;
	padding: 0;
}


.container li{
	position:relative;
	height:200px;
	border-radius:5px;
	margin-right: 20px;
	float:left;
	margin-bottom:15px;
	line-height: 200px;
}

.container li:NTH-CHILD(1){
	width: 25%;
	background: #3399FE;
}
.container li:NTH-CHILD(2){
	width: 25%;
	background: #CE352C;
}
.container li:NTH-CHILD(3){
	width: 40%;
	background: #E3C800;
}

.container li span{
	display:inline-block;
	position:relative;
	border:5px solid #FFFFFF;
	text-align:center;
	width:130px;
	height:130px;
	top:15%;
	left:2%;
	border-radius:50%;
}

.container li p{
	display:inline-block;
	margin-left:10px;
	color: #FFFFFF;
	font-size: 18px;
}

.container li p i{
	font-style:normal;
	font-size: 28px;
}

.icon {
   width: 100px; height: 100px;
   vertical-align:-0.8em;
   fill: currentColor;
   overflow: hidden;
   color: #FFFFFF;
}
